<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uc.web.persistence.system.RoleDetailMapper">
  <resultMap id="RoleDetailMap" type="com.uc.web.domain.system.RoleDetail">
    <id column="ROLE_ID" jdbcType="VARCHAR" property="id" />
    <result column="ROLE_NAME" jdbcType="VARCHAR" property="name" />
    <result column="ROLE_DESC" jdbcType="VARCHAR" property="description" />
    <result column="VALID" jdbcType="BIT" property="valid" />
    <result column="IS_INTERNAL" jdbcType="BIT" property="isInternal" />
  </resultMap>
  
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="RoleDetailColumns">
    ROLE_ID, ROLE_NAME, ROLE_DESC, VALID, IS_INTERNAL
  </sql>
  <select id="selectByExample" parameterType="map" resultMap="RoleDetailMap">
    select
    <if test="example.distinct">
      distinct
    </if>
    <include refid="RoleDetailColumns" />
    from t_role
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
    <if test="example.orderByClause != null">
      order by ${example.orderByClause}
    </if>
    limit ${offset}, ${count}
  </select>
  
  <select id="selectById" parameterType="java.lang.String" resultMap="RoleDetailMap">
    select 
    <include refid="RoleDetailColumns" />
    from t_role
    where ROLE_ID = #{roleId,jdbcType=VARCHAR}
  </select>
  
  <select id="selectRoleFunctions" parameterType="java.lang.String" resultMap="com.uc.web.persistence.system.FunctionDetailMapper.FunctionDetailMap">
    select
    <include refid="com.uc.web.persistence.system.FunctionDetailMapper.FunctionDetailColumns" />
    from v_role_func
    where ROLE_ID = #{roleId, jdbcType=VARCHAR}
  </select>
  
  <insert id="insertRoleFunctions" parameterType="map">
    delete from t_role_func where ROLE_ID = #{roleId, jdbcType=VARCHAR};
    <if test="funcs != null">
    <foreach collection="funcs" item="func">
      <if test="func.valid">
      insert into t_role_func (ROLE_ID, FUNC_ID) values (#{roleId, jdbcType=VARCHAR}, #{func.id, jdbcType=VARCHAR});
      </if>
    </foreach>
    </if>
  </insert>
  
  <delete id="deleteDetail" parameterType="com.uc.web.domain.system.RoleDetail">
    delete from t_role
    where ROLE_ID = #{id,jdbcType=VARCHAR}
  </delete>
  
  

  <insert id="insertDetail" parameterType="com.uc.web.domain.system.RoleDetail">
    insert into t_role (ROLE_ID, ROLE_NAME, ROLE_DESC, 
      VALID, IS_INTERNAL)
    values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{valid,jdbcType=BIT}, #{isInternal,jdbcType=BIT})
  </insert>
  <select id="selectCountByExample" parameterType="com.uc.web.domain.system.example.RoleDetailExample" resultType="java.lang.Integer">
    select count(*) from t_role
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateDetailSelective" parameterType="com.uc.web.domain.system.RoleDetail">
    update t_role
    <set>
      <if test="name != null">
        ROLE_NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        ROLE_DESC = #{description,jdbcType=VARCHAR},
      </if>
      <if test="valid != null">
        VALID = #{valid,jdbcType=BIT},
      </if>
      <if test="isInternal != null">
        IS_INTERNAL = #{isInternal,jdbcType=BIT},
      </if>
    </set>
    where ROLE_ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateDetail" parameterType="com.uc.web.domain.system.RoleDetail">
    update t_role
    set ROLE_NAME = #{name,jdbcType=VARCHAR},
      ROLE_DESC = #{description,jdbcType=VARCHAR},
      VALID = #{valid,jdbcType=BIT},
      IS_INTERNAL = #{isInternal,jdbcType=BIT}
    where ROLE_ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>