<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:sec="http://www.springframework.org/schema/security"
  xsi:schemaLocation="http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-3.1.xsd
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd">
    
    <sec:http pattern="/resources/**" security="none" />
    <sec:http pattern="/403" security="none" />
    <sec:http pattern="/404" security="none" />
    <sec:http pattern="/500" security="none" />
    <sec:http pattern="/login*" security="none" />
    <sec:http use-expressions="true" >
      <sec:intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
      <sec:form-login
        login-page="/login"       
        password-parameter="password"
        username-parameter="username"
        authentication-failure-url="/login?error=true"
        default-target-url="/"
        always-use-default-target="true"        
        />
      <sec:logout logout-success-url="/login" logout-url="/logout" />
      <sec:session-management invalid-session-url="/login" />
      <sec:custom-filter ref="securityFilter" before="FILTER_SECURITY_INTERCEPTOR" />
      <sec:access-denied-handler error-page="/403"/>
    </sec:http>
    
    
    <sec:authentication-manager alias="authenticationManager">      
      <sec:authentication-provider user-service-ref="myUserDetailsService" >
        <sec:password-encoder hash="md5" />
      </sec:authentication-provider>
    </sec:authentication-manager>
    

    <bean id="myUserDetailsService" class="com.uc.web.security.MyUserDetailsService" >
      <property name="securityService" ref="securityService" />
    </bean>
    
    <bean id="securityFilter" class="org.springframework.security.web.access.intercept.FilterSecurityInterceptor" >
      <property name="securityMetadataSource" ref="securityMetadataSource" />
      <property name="authenticationManager" ref="authenticationManager" />
      <property name="accessDecisionManager" ref="affirmativeBased" />
    </bean>
    
    <bean id="securityMetadataSource" class="org.springframework.security.web.access.intercept.DefaultFilterInvocationSecurityMetadataSource">
      <constructor-arg type="java.util.LinkedHashMap" ref="securityRequestMapFactoryBean" />
    </bean>
    
    <bean id="securityRequestMapFactoryBean" class="com.uc.web.security.SecurityMetadataSourceFactoryBean" init-method="loadResourceDefine">
      <property name="securityService" ref="securityService" />
    </bean>
       
    
    <!-- AffirmativeBased 认证管理器 -->
    <bean id="affirmativeBased" class="org.springframework.security.access.vote.AffirmativeBased">
      <constructor-arg >
        <list>
          <bean class="org.springframework.security.access.vote.RoleVoter" />
        </list>
      </constructor-arg>
    </bean>    

</beans>
