<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="lazyLoadingEnabled" value="false" />
        <setting name="aggressiveLazyLoading" value="false"/>
    </settings>
    <mappers>
      <mapper resource="com/uc/web/persistence/security/UserInfoMapper.xml"/>
      <mapper resource="com/uc/web/persistence/system/UserDetailMapper.xml"/>
      <mapper resource="com/uc/web/persistence/system/RoleDetailMapper.xml"/>
      <mapper resource="com/uc/web/persistence/system/FunctionDetailMapper.xml"/>
      <mapper resource="com/uc/web/persistence/system/OrgnizationDetailMapper.xml"/>
    </mappers>
</configuration>